<!-- Footer -->
<footer class="bg-body-tertiary text-center" style="background-color: rgba(0, 0, 0, 0.05);">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our website</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form5Example24" class="form-control" />
                <label class="form-label" for="form5Example24">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button data-mdb-ripple-init type="submit" class="btn btn-outline mb-4">
                Sign up
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-6 mb-md-0">
            <h5 class="text-uppercase">Company name</h5>
            
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#">{{info.name}}</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-6 mb-md-0">
            <h5 class="text-uppercase">more about us and our contacts</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="{% url 'about' %}">about us</a>
              </li>
              <li>
                <a class="text-body" href="{% url 'contact' %}">contact us</a>
              </li>
            </ul>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="#">AMAN</a>
    </div>
  </footer>